* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  padding: 10px;
}
.photo-card {
  margin-left: 15px;
  margin-top: 15px;
  flex-basis: calc((100% - 60px) / 4);
  flex-grow: 1;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-top: -15px;
  padding: 10px;
}
.info-item {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}
